In [1]:
import seaborn as sns
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import scipy as sp

In [2]:
import sys

In [3]:
def sigmoid(x):
    z = np.exp(-x)

    return 1 / (1 + z)

In [4]:
# Loading Iris Datasets:
iris = sns.load_dataset("iris")

In [5]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
X = iris.copy().iloc[:, :-2].values
y = pd.get_dummies(iris.copy().iloc[:, -1]).values

n = X.shape[0]
m = X.shape[1]
L = 10
W = np.random.normal(size=(m, L))

In [7]:
I_n = np.eye(n, n)

In [8]:
Z = np.linalg.inv(X @ X.T + I_n) @ X @ X.T

In [9]:
A = 0.5*(np.abs(Z) + np.abs(Z.T))
A_til = A
np.fill_diagonal(A_til, A.diagonal() + 1)

In [10]:
D_til = np.eye(n,n) * A.sum(axis=1)

In [11]:
D_til_inv = sp.linalg.fractional_matrix_power(D_til, -0.5)

In [12]:
A_ = D_til_inv @ A_til @ D_til_inv

In [13]:
H = sigmoid(A_ @ X @ W)

In [14]:
I_L = np.eye(L, L)

In [15]:
Beta = np.linalg.inv(H.T @ H  + I_L) @ H.T @ y

In [18]:
Y_pred= H @ Beta

In [19]:
np.argmax(Y_pred, axis=1)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 1, 1, 2, 1, 1, 1, 2, 1, 1,
       2, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 1, 1,
       2, 1, 2, 2, 1, 1, 2, 2, 2, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2], dtype=int64)

In [ ]:
class GCELM:
    def __init__(self, L, activate)